* {
   margin: 0;
   padding: 0;
}

body {
   min-height: 100vh;
   margin-top: 20px;
   background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url('https://img2.rtve.es/i/?w=1600&i=1565264921818.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.semaforo {
   width: 250px;
   height: 450px;
   border-radius: 20px;
}

.color {
   height: 33%;
   height: 100px;
   width: 100px;
}

.luz-roja {
   box-shadow: 0 0 30px 10px rgb(243, 18, 2);
}

.luz-naranja {
   box-shadow: 0 0 30px 10px rgb(243, 180, 5);
}

.luz-verde {
   box-shadow: 0 0 30px 10px rgb(46, 204, 72);
}

.post-one {
   width: 50px;
   height: 50px;
}

.icons {
   width: 80px;
}

.post-two {
   width: 50px;
   height: 100px;
}

.pulsador {
   width: 100px;
}

.post-three {
   width: 50px;
   height: 200px;
}
